<div class="Container-fluid filterbox p-3">
    <h5 class="mb-3 text-center">Filter Events</h5>
    
    <div class="d-flex flex-column justify-content-around">
      <hr>
      <h6 class="mb-3">DATE</h6>
      <div class="d-flex flex-row justify-content-between">
        <button class="btn border border-success dateBtn">This Week</button>
        <button class="btn border border-success dateBtn">This Month</button>
        <button class="btn border border-success dateBtn">Next Month</button>
      </div>
      <hr>
    </div>

    <div class="d-flex flex-column justify-content-around">
      <h6 class="mb-3">CATEGORY</h6>
      <div class="d-flex flex-row justify-content-between">
        <button class="btn border border-success categoryBtn">Outdoor</button>
        <button class="btn border border-success categoryBtn">Indoor</button>
        <button class="btn border border-success categoryBtn hide">**************</button>
      </div>
      <hr>
    </div>

    <div class="d-flex flex-column justify-content-around">
      <h6 class="mb-3">TYPE</h6>
      <div class="d-flex flex-row justify-content-between">
        <button class="btn border border-success typeBtn">Individual</button>
        <button class="btn border border-success typeBtn">Team</button>
        <button class="btn border border-success typeBtn hide">****************</button>
      </div>
      <hr>
    </div>

    <div class="d-flex flex-column justify-content-around">
      <h6 class="mb-3">LOCATION</h6>
      <div class="d-flex flex-row justify-content-between">
        <select class="form-select form-select-sm border border-success" aria-label=".form-select-sm example">
          <option selected>Select State</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    
  
</div>
